{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.2.2.min.js"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.2.2.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.2.2.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.2.2.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.2.2.min.js"
        crossorigin="anonymous"></script>
</head>
<body>
    <h1>Bokeh Plot</h1>
    {{ div|safe }}
    {{ script|safe }}
</body>
</html>
